{%extends 'base.html'%}
{%load static%}
{% block title%}Editar Conta{% endblock %}
{% load crispy_forms_tags %}
{%block content%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<div class="adm-bg">
    <div id="moldura">
      {% if messages %}
      <ul class="messages">
        {%for message in messages%}
        {%if message.level == 50%}
        <li {% if message.tags %} class="alert alert-warning" role="alert"> {% endif %} {{ message }}</li>
        {%endif%}
        {%endfor%}
      </ul>
      {% endif %}
      <div class="form-group text-center">
        <h3>Minha Conta</h3>  
      </div>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      <!--<h2>Meu Perfil </h2>-->
      <div class="form-group text-center">
        
        {%if usuario.image%}
        <a href={% url 'usuario-editar' %}><img src="/media/{{usuario.image}}" class="rounded-circle" width="100px" height="100px" alt="Minha Imagem"></a>
        {% else %}
        <a href={% url 'usuario-editar' %}><img src="{% static 'img/avatar.jfif' %}" class="rounded-circle" width="100px" height="100px" alt="Minha Imagem"></a>
        {% endif %}
    </div>
      <!--<h3><span style="color: #a0a0a0;">&nbsp;ALUGUE</span><span style="color: #FBC02D;">T&Aacute;XI</span> </h3>-->
        {{ form|crispy }}
        <div class="text-center">
          <input type="submit" value="Atualizar" class="btn btn-dark">  
          <button type="button" class="btn btn-dark" onclick="javascript:history.go(-1)">Cancelar</button>
      </div>
      </form>
    </div>
  </div>
</div>

{%block script%} 
<script src="https://unpkg.com/imask"></script>
<script src="{% static 'js/mask.js' %}" defer></script>
<script src="{% static 'js/adm.js' %}" defer></script>
{%endblock script%} 
{%endblock%}

