{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Entrar{% endblock %}

{% block content %}
<div id="moldura">
<div id="container">
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="alert alert-warning" role="alert"> {% endif %} Usuário desconectado! </li>
        {% endfor %}
      </ul>
    <h3>Entrar</h3><br>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-dark" type="submit">Entrar</button>
    </form>
    <br>
    <p style="text-align: right;"><a href="/accounts/password/reset" class="text-secondary">Esqueceu sua senha?</a></p>
    <p style="text-align: right;"><a href="/accounts/signup" class="text-secondary">Não tem cadastro?</a></p>
    <br>
    <p style="text-align: justify; font-size: 13px;">Ao continuar, voc&ecirc; concorda com os <a href="/termos" class="text-dark">Termos de uso</a> e a <a href="/politica" class="text-dark">Pol&iacute;tica de Privacidade</a> da AlugueTáxi, e tamb&eacute;m, em receber comunica&ccedil;&otilde;es via e-mail e push da AlugueTáxi e seus parceiros.</p>
</div>
</div>

{% endblock %}