{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div id="moldura">
    <div id="container">
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="alert alert-warning" role="alert"> {% endif %} Usuário desconectado! </li>
            {% endfor %}
          </ul>
        <br>
    <h3>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>
          <br>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-dark" type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
    <br>
    <p style="text-align: right;"><a href="/accounts/password/reset" class="text-secondary">Esqueceu sua senha?</a></p>
    <p style="text-align: right;"><a href="/accounts/signup" class="text-secondary">Não tem cadastro?</a></p>
    <br>
    <p style="text-align: justify; font-size: 13px;">Ao continuar, voc&ecirc; concorda com os <a href="/termos" class="text-dark">Termos de uso</a> e a <a href="/politica" class="text-dark">Pol&iacute;tica de Privacidade</a> da AlugueTáxi, e tamb&eacute;m, em receber comunica&ccedil;&otilde;es via e-mail e push da AlugueTáxi e seus parceiros.</p>
</div>
</div>

{% endblock %}