{% extends 'base.html' %}
{% load i18n %}
{% block title %}Redefinir Senha{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div id="moldura">
    <div id="container">
        {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="alert alert-warning" role="alert"> {% endif %} {{ message }} </li>
      {% endfor %}
    </ul>
    {% endif %}
    
        <h3>{% trans "Change Password" %}</h3>
        <p>{% trans 'Your password is now changed.' %}</p>
        <br>
    <p style="text-align: right;"><a href="/" class="text-secondary">Página Inicial</a></p>
    <p style="text-align: right;"><a href="/accounts/login" class="text-secondary">Já tem cadastro?</a></p>
    <br>
    <p style="text-align: justify; font-size: 13px;">Ao continuar, voc&ecirc; concorda com os <a href="/termos" class="text-dark">Termos de uso</a> e a <a href="/politica" class="text-dark">Pol&iacute;tica de Privacidade</a> da AlugueTáxi, e tamb&eacute;m, em receber comunica&ccedil;&otilde;es via e-mail e push da AlugueTáxi e seus parceiros.</p>
    </div>
</div>
{% endblock %}