{%extends 'base.html'%}
{% block title%}Como Funciona{% endblock %}
{%block content%}
<div id="moldura">
    <div style="display: flex; justify-content: center;">
        <div class="text-center" style="width:70%">
            <h2>Como Funciona o AlugueTáxi</h2>
            <br>
            <h6>AlugueT&aacute;xi é uma plataforma de classificados que conecta propriet&aacute;rios de T&aacute;xis à
                quem deseja alugar um T&aacute;xi.</h6><br>
        </div>
    </div><br>
    <div style="display: flex; justify-content: space-between;">
        <div style="padding-right:3%">
            <h4>Anuncie seu T&aacute;xi</h4>
            <br>
            <h5>Tem um t&aacute;xi?</h5><br>
            <p>Cadastre-o no AlugueT&aacute;xi para que seu carro possa gerar dinheiro quando estiver parado.</p><br>
            <p>Ao cadastrar seu carro e ativar o anúncio, ele ficar&aacute; vis&iacute;vel para todos que buscarem no
                AlugueT&aacute;xi.</p><br>
            <p>Voc&ecirc; poder&aacute; definir livremente o valor a ser cobrado, se o carro possui seguro e regras do
                aluguel.</p><br>
            <p>Os usu&aacute;rios interessados ir&atilde;o entrar em contato diretamente contigo, e voc&ecirc;s
                poder&atilde;o
                discutir livremente os detalhes da loca&ccedil;&atilde;o, como data, hor&aacute;rio e local, valores e
                forma de
                pagamento.</p><br>
            <p>O Alugue T&aacute;xi n&atilde;o intermedia a loca&ccedil;&atilde;o nem o pagamento, apenas conecta o
                propriet&aacute;rio do Taxi ao usu&aacute;rio que deseja alugar.</p><br>

        </div>
        <div style="padding-left:3%">
            <h4>Quer alugar um T&aacute;xi?</h4><br>
            <p>Alugue o carro que voc&ecirc; desejar, onde voc&ecirc; desejar.</p><br>
            <p>Voc&ecirc; n&atilde;o precisa ter um t&aacute;xi para us&aacute;-lo poucas vezes por ano.</p><br>
            <p>Escolha o local onde prestar o servi&ccedil;o, o tipo de carro, capacidade de passageiros, e entre em
                contato
                diretamente com o propriet&aacute;rio do carro.</p><br>
            <p>Combine com ele diretamente os detalhes da loca&ccedil;&atilde;o, hor&aacute;rio e local, acerte o valor
                e forma
                de pagamento, e bom trabalho!</p><br>
        </div>
    </div><br>
    <div style="width:100%; padding:10px; text-align: center; background-color:#FFF9C4;">
        <h2>Perguntas Frequentes</h2>
    </div><br><br>
    <h3>Para propriet&aacute;rios de T&aacute;xi:</h3><br>
    <h4>Como fa&ccedil;o o cadastro do meu T&aacute;xi?</h4>
    <p>Basta clicar no bot&atilde;o amarelo aqui nessa
        p&aacute;gina que diz "Cadastrar seu T&aacute;xi".<br />Lembre-se de preencher todos os dados e carregar
        diversas fotos do seu carro, para conseguir mais loca&ccedil;&otilde;es.</p><br>
    <h4>Como funciona a reserva?</h4>
    <p>O motorista que escolher seu carro ir&aacute; entrar em contato diretamente contigo
        para acertar os detalhes da reserva.</p>
    <p>Voc&ecirc; receber&aacute; um email informando que tem uma mensagem lhe aguardando, e a&iacute;, basta entrar no
        chat com o motorista interessado e negociar os detalhes.</p><br>
    <h4>Qual o papel do Alugue T&aacute;xi?</h4>
    <p>O Alugue T&aacute;xi &eacute; uma plataforma de classificados que coloca
        o propriet&aacute;rio do T&aacute;xi em contato com o motorista interessado.<br />O Alugue T&aacute;xi
        n&atilde;o intermedia a loca&ccedil;&atilde;o, detalhes da loca&ccedil;&atilde;o, hor&aacute;rio, local,
        etc.<br />O Alugue T&aacute;xi n&atilde;o intermedia o pagamento e n&atilde;o recebe nenhum valor de nenhuma das
        partes referente &agrave; loca&ccedil;&atilde;o.<br />O Alugue T&aacute;xi n&atilde;o garante o estado do carro,
        do propriet&aacute;rio do carro, ou do motorista.<br />O Alugue T&aacute;xi conecta donos de T&aacute;xi com
        interessados em alugar T&aacute;xi.</p><br>
    <h4>Como negocio valores e como recebo?</h4>
    <p>Valores e forma de pagamento devem ser negociados diretamente com o
        motorista interessado.</p><br>
    <h4>Voc&ecirc;s fazem uma pr&eacute;-checagem nos motoristas interessados?</h4>
    <p>N&atilde;o. O Alugue T&aacute;xi
        &eacute; uma plataforma de Classificados, conectando o interessado ao anunciante.<br />Caso tenha d&uacute;vidas
        sobre o motorista, verifique o perfil dele(a) em redes sociais e pe&ccedil;a mais detalhes antes de confirmar a
        loca&ccedil;&atilde;o.</p><br>
    <h3>Para usu&aacute;rios:</h3><br>
    <h4>Como eu reservo um t&aacute;xi?</h4>
    <p>Para reservar um T&aacute;xi pelo AlugueT&aacute;xi, basta procurar pela
        cidade em que deseja dirigir, escolher o carro ideal para voc&ecirc; e clicar em "Entrar em Contato com o
        Propriet&aacute;rio".</p><br>
    <p>Voc&ecirc; ir&aacute; falar diretamente com o anunciante, e poder&aacute; combinar todos os detalhes do
        aluguel.<br>Detalhes e pagamento ser&atilde;o combinados diretamente entre o motorista e o anunciante, sem
        intermedia&ccedil;&atilde;o do Alugue T&aacute;xi.</p><br>
    <p>Acertados os detalhes com o anunciante, &eacute; s&oacute; aparecer no dia e local combinado e sair com o carro!
    </p><br>
    <p>O Alugue T&aacute;xi n&atilde;o intermedia a loca&ccedil;&atilde;o, portanto, combine diretamente com o
        propriet&aacute;rio do T&aacute;xi como proceder.</p><br>
    <h4>Como me certificar de que o carro est&aacute; em bom estado?</h4>
    <p>Veja com aten&ccedil;&atilde;o as fotos do
        carro, e se estiver em d&uacute;vida, pergunte ao propriet&aacute;rio do carro sobre maiores
        informa&ccedil;&otilde;es, e visite o carro antes de confirmar a reserva.</p><br>
    <h4>Posso pegar o carro e deix&aacute;-lo em locais diferentes?</h4>
    <p>Combine diretamente com o propriet&aacute;rio do
        carro.</p>



</div>
</div>
{%endblock%}