{%extends 'base.html'%}
{% load static %}
{% block title %}Meus Anúncios{% endblock %}
{%block content%}
<div id="moldura" style="border: 0;">
  <h3 style="padding: 0.2em;" class="border-bottom">Meus An&uacute;ncios ({{ total }})</h3>
  <br>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="alert alert-warning" role="alert"> {% endif %} {{ message }} </li>
    {% endfor %}
  </ul>
  {% endif %}
  <br>
  {%for anuncio in anuncios%}
  <div id="lista">
    <div style="width: 110px;">
      {% if anuncio.image %}
      <img src="/media/{{anuncio.image}}" style="width: 84px; height: 84px;">
      {% else %}
      <img src="{% static 'img/sem-foto.jpg' %}" style="width: 84px; height: 84px;">
      {% endif %}
    </div>
    <div style="text-align: left;">
      {{ anuncio.modelo }} | R$ {{ anuncio.valor }}<br>{%if anuncio.anuncio_fim > data%}
      <i class="btn-success" style="font-size: 14px; border-radius: 6px;">&nbsp;Online até
        {{anuncio.anuncio_fim|date:"d/m/Y"}}&nbsp;</i>
      {%else%}<i class="btn-danger" style="font-size: 14px; border-radius: 6px;">&nbsp;Offline&nbsp;</i>
      {%endif%}
    </div>
  </div>
  <div
    style="display: flex; margin: 0 auto; justify-content:center; margin-bottom: 10px; border-bottom: solid 1px; border-bottom-color:#CCC;padding-bottom: 10px;">
    <a href="/anuncio/editar/{{ anuncio.slug2 }}" class="btn btn-dark linkma">Editar</a>
    <a href="/anuncio/info/{{ anuncio.slug2 }}" class="btn btn-dark linkma">Visualizar</a>
    {%if anuncio.anuncio_fim <= data%}<a href="/anuncio/ativar/{{ anuncio.slug2 }}" class="btn btn-dark linkma">Anunciar</a>{%endif%}
  </div>
  {%endfor%}
</div>
</div>
{%endblock%}